<template>
  <div>
    <h2>{{$t('categories')}}</h2>
    <router-link tag='div' :to="`/threads/${channel.slug}`" v-for="channel in channels" v-if="channels">
      <div to="/login" class="card mb-2">
        <div class="card-header d-flex justify-content-between">
          <div>{{ channel.name }}</div>
          <div>{{$t('last_update')}}: {{ $filters.timeFormat(channel.updated_at ) }}</div>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        metaInfo() {
            return {title: this.$t('home')}
        },
        beforeMount() {
            this.$store.dispatch('thread/getChannels');
        },
        computed: mapGetters({
            channels: 'thread/channels'
        }),
    }
</script>
