<template>
  <div>
    <div class="card mb-2" v-if="threadBase">
      <div class="card-header">
        <div class="d-flex justify-content-between">{{threadBase.thread.title}}
          <span @click="like()">
          <svg :class="threadBase.inLike ? 'active' : 'unactive'" xmlns="http://www.w3.org/2000/svg" id="Layer_1"
               viewBox="0 0 1501.7 1504.4" width="2496" height="2500"
               style="width: 46px;height: 45px;margin: -13px 0px;"><path class="st1"
                d="M378.3 667.5h165.1c13 0 23.6 10.5 23.6 23.6v379.1c0 13-10.5 23.6-23.6 23.6H378.3c-13 0-23.6-10.5-23.6-23.6V691c.1-13 10.6-23.5 23.6-23.5zM624.7 1004.7V733.1c.1-66.9 18.8-132.4 54.1-189.2 21.5-34.4 69.7-89.5 96.7-118 6-6.4 27.8-25.2 27.8-35.5 0-13.2 1.5-34.5 2-74.2.3-25.2 20.8-45.9 46-45.7h1.1c44.1.8 58.2 41.6 58.2 41.6s37.7 74.4 2.5 165.4c-29.7 76.9-35.8 83.1-35.8 83.1s-9.6 13.9 20.8 13.3c0 0 185.6-.8 192-.8 13.7 0 57.4 12.5 54.9 68.2-1.8 41.2-27.4 55.6-40.5 60.3-1.7.6-2.6 2.5-1.9 4.2.3.7.8 1.3 1.5 1.7 13.4 7.8 40.8 27.5 40.2 57.7-.8 36.6-15.5 50.1-46.1 58.5-1.7.4-2.8 2.2-2.3 3.9.2.9.8 1.6 1.5 2 11.6 6.6 31.5 22.7 30.3 55.3-1.2 33.2-25.2 44.9-38.3 48.9-1.7.5-2.7 2.3-2.2 4 .2.7.7 1.4 1.3 1.8 8.3 5.7 20.6 18.6 20 45.1-.3 14-5 24.2-10.9 31.5-9.3 11.5-23.9 17.5-38.7 17.6l-411.8.8c-.1-.1-22.4 0-22.4-29.9z"/>
          </svg>
            {{threadBase.thread.likes ? threadBase.thread.likes.length : 0}}
        </span></div>
      </div>
      <div class="card-body">
        <div>{{threadBase.thread.body}}</div>
      </div>
    </div>
    <h3>Комментарии</h3>
    <div class="coments" v-if="threadBase">
      <div class="comment" v-for="reply in threadBase.replies.data">
        <div class="comment-owner">{{reply.owner.name}} <span class="comment-date">{{ $filters.timeFormat(reply.created_at ) }}</span>
        </div>
        <div class="comment-body">
          {{reply.body}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    import Swal from 'sweetalert2'
    import {mapGetters} from 'vuex';

    export default {
        props: {
            channel: String,
            thread: String,
        },
        data() {
            return {
                inLike: false,
                likes: 0,
            }
        },
        metaInfo() {
            return {title: this.$t('home')}
        },
        beforeMount() {
           this.getPost(false);
        },
        methods: {
            like() {
                if(this.user) {
                    this.$store.dispatch('thread/like', {
                        channel: this.channel,
                        thread: this.thread
                    }).then((response) => {
                        this.getPost(true);
                    });
                }else{
                    Swal.fire({
                        icon: 'error',
                        title: this.$t('error_alert_title'),
                        text: this.$t('error_alert_text_unauth'),
                        reverseButtons: true,
                        confirmButtonText: this.$t('ok'),
                        cancelButtonText: this.$t('cancel')
                    })
                }
            },
            getPost(render){
                this.$store.dispatch('thread/getThread', {channel: this.channel, thread: this.thread, render: render});
            }
        },
        afterMount(){
            this.likes = this.threadBase.likes;
        },
        computed: mapGetters({
            threadBase: 'thread/thread',
            user: 'auth/user'
        }),
    }
</script>
<style lang="scss">
  .comment {
    &-owner {
      .comment-date {
        font-size: 14px;
        color: #b5b5b5;
        font-weight: 500;
      }

      font-weight: bold;
      font-size: 18px;
    }

    background: #fff;
    margin: 15px 0;
    padding: 10px;
    border: solid 1px #e7e8ec;
    border-radius: 3px;
  }

  svg.active {
    fill: #1fab00;
  }
</style>
