<template>
  <div>
    <h2>Статьи</h2>
    <router-link tag="div" :to="`/threads/${channel}/${threadOne.id}`" v-for="threadOne in threads" v-if="threads">
      <div class="card mb-2">
        <div class="card-header d-flex justify-content-between">
          <div>{{ threadOne.title }}</div>
          <div>Последнее обновление: {{ $filters.timeFormat(threadOne.updated_at ) }}</div>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        props: {
            channel: String,
        },
        metaInfo() {
            return {title: this.$t('home')}
        },
        beforeMount() {
            this.$store.dispatch('thread/getThreads', this.channel);
        },
        computed: mapGetters({
            threads: 'thread/threads'
        }),
    }
</script>
